.character_slide {
    display: grid;
    grid-template-columns: 1fr 74vh;
    margin-top: 1.7rem;
}

.character_slide article {
    min-height: 20.1rem;
}

@media screen and (max-width: 1760px) {
    .character_slide article {
        min-height: 18rem;
    }
}

.character_slide__title {
    font-family: var(--ff-star-jedi);
    font-size: var(--fs-800);
    color: var(--clr-primary-100);
    line-height: 103%;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1760px) {
    .character_slide__title {
        font-size: var(--fs-550);
    }
}

.character_slide__description {
    font-family: var(--ff-primary-regular);
    font-size: var(--fs-300);
    color: var(--clr-primary-100);
    max-width: 45rem;
}

.character_slide__image_container {
    position: relative;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.character_slide__image_container::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 84px;
    z-index: -10;
    width: 70%;
    height: 70%;
    background-color: var(--clr-accent-500);
    border-radius: 50%;
}

.modules_title {
    font-family: var(--ff-primary-black);
    font-size: var(--fs-400);
    margin-top: 1.8rem;
}

.module_container {
    margin: 1rem 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 8rem 1fr;
    padding-bottom: 1.3rem;
    border-bottom: solid 1px var(--clr-secondary-500);
    max-width: 36rem;
}

.module_container:last-of-type {
    border: none;
}

.module_container__title_container {
    font-family: var(--ff-primary-bold);
    font-size: var(--fs-325);
}

.module_container__controls > p {
    font-family: var(--ff-primary-regular);
    font-size: var(--fs-300);
    color: var(--clr-primary-100);
}

.module_container__controls__buttons {
    padding-right: 0.8rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.module_container__controls__buttons .control_button {
    padding: 0 0.6rem;
    min-height: 47px;
}
