.form_group {
    margin-bottom: 1.3rem;
}

.form_group:last-of-type {
    margin-bottom: 2.5rem;
}

.form_group label {
    display: block;
    font-family: var(--ff-primary-bold);
    font-size: var(--fs-200);
    color: var(--clr-primary-100);
}

.form_group input {
    font-family: var(--ff-primary-regular);
    font-size: var(--fs-300);
    color: var(--clr-secondary-900);
    width: 100%;
    padding: 0.7rem;
    border-radius: 6px;
    text-align: center;
}

.form_group__error_text {
    font-family: var(--ff-primary-bold);
    font-size: var(--fs-200);
    color: #ff0000;
}
