.character_select {
    color: white;
}

.character_select::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/bg_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

@media screen and (min-width: 1400px) {
    .character_select::before {
        background-image: url("../assets/bg_2@2x.png");
    }
}

.pre_response_container {
    width: fit-content;
    margin: 30vh auto 0 auto;
}

.pre_response_container::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
    inset: 0;
    background-color: #000;
}

.pre_response_container__error_message {
    font-family: var(--ff-primary-bold);
    font-size: var(--fs-500);
    color: var(--clr-primary-100);
}
