.main_title {
    font-family: var(--ff-star-jedi);
    font-size: var(--fs-600);
    color: var(--clr-primary-100);
    text-align: center;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}

.main_title::before {
    content: "";
    background-image: url("../assets/bg_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    inset: 0;
    z-index: -10;
}

@media screen and (min-width: 1400px) {
    .main_title::before {
        background-image: url("../assets/bg_3@2x.png");
    }
}

.clash_container {
    display: grid;
    grid-template-columns: 1fr 270px 1fr;
    color: var(--clr-primary-100);
}

.versus_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus_container span {
    font-family: var(--ff-distant-galaxy);
    font-size: var(--fs-900);
}

.hide {
    display: none;
}
